<p>
  calc works!
</p>
First No :
<input type = "number" [(ngModel)]="model.fno"/>
 <br/>
Second No :
<input type = "number" [(ngModel)]="model.sno"/>
<br/>
Result :
<input type = "number" [(ngModel)]="model.res"/>
<br/>
<button (click) = "sum()" >Sum</button>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click) = "sub()" >Sub</button>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click) = "mul()" >Mul</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click) = "div()">Div</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;