Employee Details :
<app-show-employ>

</app-show-employ>
<br><br><hr>
Manager Details:
  <table border="3">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>empphone</th>
        <th>empmail</th>
        <th>empdoj</th>
        <th>empmgrid</th>
        <th>empdeptname</th>
        <th>emplevbalance</th>
      </tr>
      <tr >
        <td>{{(employee | async)?.empId}}</td>
        <td>{{(employee | async)?.empName}}</td>
        <td>{{(employee | async)?.empPhone}}</td>
        <td>{{(employee | async)?.empEmail}}</td>
        <td>{{(employee | async)?.empDoj}}</td>
        <td>{{(employee | async)?.mgrId}}</td>
        <td>{{(employee | async)?.empDeptName}}</td>
        <td>{{(employee | async)?.empLevBalance}}</td>
      </tr>
      
      </table>
      
  
