<a [routerLink]="['/Calc']">Calc</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/Login']">Login</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/NameDropDown']">NameDropDown</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/Student']">Student</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/DropDownExample']">DropDownExample</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/ButtonDemo']">ButtonDemo</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<router-outlet>
 
</router-outlet>