<p>
  leavehistory works!
</p>

<h4>LeaveDetails levId : {{ (LeaveDetails  | async)?.levId }}</h4>
<h4>LeaveDetails levDateApplied : {{ (LeaveDetails  | async)?.levDateApplied }}</h4>
<h4>LeaveDetails levStartDate : {{ (LeaveDetails  | async)?.levStartDate }}</h4>
<h4>LeaveDetails levEndDate : {{ (LeaveDetails  | async)?.levEndDate }}</h4>
<h4>LeaveDetails levNoOfDays : {{ (LeaveDetails  | async)?.levNoOfDays }}</h4>
<h4>LeaveDetails levType : {{ (LeaveDetails  | async)?.levType }}</h4>
<h4>LeaveDetails levStatus : {{ (LeaveDetails  | async)?. levStatus}}</h4>
<h4>LeaveDetails levReason : {{ (LeaveDetails  | async)?. levReason}}</h4>
<h4>LeaveDetails levMgrComments : {{ (LeaveDetails  | async)?.levMgrComments }}</h4>
<h4>LeaveDetails levEmpId : {{ (LeaveDetails  | async)?.levEmpId }}</h4>




